<style type="text/css">

:root{
  --backgroundimage: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%2300ffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E"); 
  --backgroundimagedark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='black'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E"); 
}

*{
  margin:0;
  padding:0;
  box-sizing :border-box;
}

body{
  background-color: #00ffff;
  background-image: var(--backgroundimage);
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height:100%;
  padding:90px;
  transition: 1s;
}

.playpause{
}

#music-on-off-window, #sound-on-off-window {
  top: 200;
  width:200;
  height:320;
  padding: 50;
  position: absolute;
  background-color: none;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  transition: 0.5s;
  overflow:hidden;
}
#music-on-off-buttons, #sound-on-off-buttons{
  padding:10;
  display:flex;
  justify-content: space-evenly;
}
#music-on-off-window #music-on,#music-off{
  background: black;
  padding:8;
  border: 1px solid white;
  color: white;
  outline:none;
  display:flex;
  flex-direction: column;
}
#sound-on-off-window #sound-on,#sound-off{
  background: black;
  padding:8;
  border: 1px solid white;
  color: white;
  outline:none;
  display:flex;
  flex-direction: column;
}
#m-back, #s-back, #m-next, #s-next, #o-m-back, #o-s-back{
  border:1px solid black;
  height:30;
  width:100%;
  background:none;
  outline:none;
}

#music-on-off-window #music-on:hover,#music-off:hover {background: white; border: 1px solid black; color: black;}
#sound-on-off-window #sound-on:hover,#sound-off:hover {background: white; border: 1px solid black; color: black;}


#pausebtn,#quitbtn,#exithtp,#exitSsm,#exithsb,#play-again-btn,#gtmm-btn,#reset-hs,#exitabtdiv{
  border:1px solid black;
  height:50;
  width:100%;
  background:none;
  outline:none;
}

#white,#lime,#violet,#indigo,#blue,#green,#yellow,#orange,#red,#purple{
 border: 2px solid;
 border-radius:20px;
 height:50;
 width: 100;
 font-size: 18;
 font-weight:bold;
 background: white;
 font-face: georgia;
 outline:none;
 transition: 0.3s ease-in-out;
}
#white{color:aqua;}
#lime{color:lime}
#violet{color:violet}
#indigo{color:indigo;}
#blue{color:blue}
#green{color:green;}
#yellow{color:yellow;}
#orange{color:orange;}
#red{color:red;}
#purple{color:purple;}

#white:hover{color: white;background: aqua; cursor:pointer;}
#lime:hover{color: white;background: lime; cursor:pointer;}
#violet:hover{color: white;background: violet; cursor:pointer;}
#indigo:hover{color: white;background: indigo; cursor:pointer;}
#blue:hover{color: white;background: blue; cursor:pointer;}
#green:hover{color: white;background: green; cursor:pointer;}
#yellow:hover{color: white;background: yellow; cursor:pointer;}
#orange:hover{color: white;background: orange; cursor:pointer;}
#red:hover{color: white;background: red;}
#purple:hover{color: white;background: purple;}

#score-board,#high-score-board,#get-color-change,#lifes,#average-reaction-time-board{
 height:70;
 left:10;
 list-style:none;
 position: absolute;
 background-color: none;
 border-radius:20px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
 transition: 0.5s;
 overflow:hidden;
}

#scoring,#high-scoring,#average-reaction-time{
  display: block;
  height: 50;
  width:100;
  overflow: hidden;
  font-size: 50;
}
#get-color-change{top:190;}
#color-change{font-size:25;}
#life-counts{font-size:25; color:green;}

</style>

<style type="text/css">

#change-theme-button-wrapper{
 position: absolute;
 height: 30;
 width: 110;
 top: 50;
 right: 20;
 background: none;
 display: block;
 overflow: hidden;
 z-index: 10;
}

#change-theme-button{
 position: absolute;
 top: 0;
 right: -110;
 display:block;
 border: 0px solid;
 border-radius:20px;
 font-size: 18;
 font-weight:bold;
 background: black;
 color:white;
 font-face: georgia;
 outline:none;
 opacity:0.5;
 animation:appear 0.5s ease-in forwards 2.3s; 
}
@keyframes appear{
to{right:0;}}

</style>

<style type="text/css">

.game-logo{
  display:block;
  background-color: RGB(32,35,48);
}

#game-name{
  animation:fill-game-name 0.5s ease forwards 4.1s;
}

#game-name path:nth-child(1){
  stroke-dasharray:370;
  stroke-dashoffset:370;
  animation:line-anim 2s ease forwards;
}

#game-name path:nth-child(2){
  stroke-dasharray:295;
  stroke-dashoffset:295;
  animation:line-anim 2.3s ease forwards;
}

#game-name path:nth-child(3){
  stroke-dasharray:230;
  stroke-dashoffset:230;
  animation:line-anim 2.6s ease forwards;
}

#game-name path:nth-child(4){
  stroke-dasharray:310;
  stroke-dashoffset:310;
  animation:line-anim 2.9s ease forwards;
}

#game-name path:nth-child(5){
  stroke-dasharray:210;
  stroke-dashoffset:210;
  animation:line-anim 3.2s ease forwards;
}

#game-name path:nth-child(6){
  stroke-dasharray:260;
  stroke-dashoffset:260;
  animation:line-anim 3.5s ease forwards;
}

#game-name path:nth-child(7){
  stroke-dasharray:210;
  stroke-dashoffset:210;
  animation:line-anim 3.8s ease forwards;
}

#game-name path:nth-child(8){
  stroke-dasharray:390;
  stroke-dashoffset:390;
  animation:line-anim 4.1s ease forwards;
}

@keyframes line-anim{
to{stroke-dashoffset:0;}
}
@keyframes fill-game-name{
from{fill:transparent;}
to{fill:green;}
}

</style>

<style type="text/css">

#main-menu, #options-div{
  position: absolute;
}

#main-menu ul, #options-div ul{
  display:block;
  height: 320;
  width: 200;
  list-style:none;
  position: absolute;
  background-color: none;
  border-radius:20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  transition: 0.5s;
  overflow:scroll;
}

#main-menu ul li, #options-div ul li{
  padding:10px;
  font-size:20;
}

#main-menu ul li a, #options-div ul li a{
  color: black;
  display: block;
  border-radius: 10px;
  text-decoration: none;
  paddind: 20px;
  transition: 0.3s ease;
}

#main-menu ul li a:hover,#options-div ul li a:hover{background:green;}

</style>

<style type="text/css">

.comfirmquit, .comfirmreset, .comfirmexitgame, .pausegame {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.comfirmquit-content, .comfirmreset-content, .comfirmexitgame-content, .pausegame-content {
  background-color: #00ffff;
  background-image: var(--backgroundimage);
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.quitnobtn, .quityesbtn, .resetnobtn, .resetyesbtn, .exitnobtn, .exityesbtn, .replaybtn{
  background: black;
  padding:8;
  border: 1px solid white;
  color: white;
  outline:none;
}

.close-comfirmquit , .close-comfirmreset, .close-comfirmexitgame{
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  float: right;
  font-size: 25;
  font-weight: bold;
  outline:none;
}

.quitnobtn:hover, .quityesbtn:hover, .resetnobtn:hover, .resetyesbtn:hover, .exitnobtn:hover, .exityesbtn:hover, .replaybtn:hover{
  background: white;
  border: 1px solid black;
  color: black;
}

.close-comfirmquit:hover,
.close-comfirmquit:focus,
.close-comfirmreset:hover,
.close-comfirmreset:focus
.close-comfirmexitgame:hover,
.close-comfirmexitgame:hover,{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

</style>

<style type="text/css">
#rotate-div-wrapper{
 position: absolute;
 z-index:2;
 top:50%;
 left:50%;
 transition: transform(-50%,-50%);
 animation: goup 0.5s ease-in forwards 2s;
}

#rotate-div {
  width: 40px;
  height: 40px;
  border:3px solid black;
  border-radius: 20%;
  position: absolute;
  top:50%;
  left:50%;
  transition: transform(-50%,-50%);
  z-index:2;
  animation: rotating 3s linear infinite ;
}

@keyframes rotating{
  0%{background:lime; transform: rotate(0deg);}
  11.1%{background:violet; transform: rotate(40deg);}
  22.2%{background:indigo; transform: rotate(80deg);}
  33.3%{background:blue; transform: rotate(120deg);}
  44.4%{background:green; transform: rotate(160deg);}
  55.5%{background:yellow; transform: rotate(200deg);}
  66.6%{background:orange; transform: rotate(240deg);}
  77.7%{background:red; transform: rotate(280deg);}
  88.8%{background:purple; transform: rotate(320deg);}
  100%{background:lime; transform: rotate(360deg);}
}
@keyframes goup{to{top:50; left:100;}}

#scroll{
  position: absolute;
  left:0;
  top:150;
  z-index:1; 
  background-color: #00ffff;
  background-image: var(--backgroundimage);
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height:70%;
  animation:remove 0.5s ease-in forwards 2.3s;
}
@keyframes remove{to{height:0;}}
</style>
